Print the company_name field. Find the number of taxi rides for each taxi company for November 15-16, 2017, name the resulting field trips_amount, and print it, too. Sort the results by the trips_amount field in descending order.

``` sql

SELECT
    cabs.company_name AS company_name,
    COUNT(trips.trip_id) AS trips_amount
FROM
    trips
    INNER JOIN cabs ON trips.cab_id = cabs.cab_id
WHERE
    trips.start_ts::date BETWEEN '2017-11-15'
    AND '2017-11-16'
GROUP BY
    company_name
ORDER BY
    trips_amount DESC;
    
```

Output:

```
company_name	trips_amount
Flash Cab	19558
Taxi Affiliation Services	11422
Medallion Leasin	10367
Yellow Cab	9888
Taxi Affiliation Service Yellow	9299
Chicago Carriage Cab Corp	9181
City Service	8448
Sun Taxi	7701
Star North Management LLC	7455
Blue Ribbon Taxi Association Inc.	5953
Choice Taxi Association	5015
Globe Taxi	4383
Dispatch Taxi Affiliation	3355
Nova Taxi Affiliation Llc	3175
Patriot Taxi Dba Peace Taxi Associat	2235
Checker Taxi Affiliation	2216
Blue Diamond	2070
Chicago Medallion Management	1955
24 Seven Taxi	1775
Chicago Medallion Leasing INC	1607
Checker Taxi	1486
American United	1404
Chicago Independents	1296
KOAM Taxi Association	1259
Chicago Taxicab	1014
Top Cab Affiliation	978
Gold Coast Taxi	428
Service Taxi Association	402
5 Star Taxi	310
303 Taxi	250
Setare Inc	230
American United Taxi Affiliation	210
Leonard Cab Co	147
Metro Jet Taxi A	146
Norshore Cab	127
6742 - 83735 Tasha ride inc	39
3591 - 63480 Chuks Cab	37
1469 - 64126 Omar Jada	36
0118 - 42111 Godfrey S.Awir	33
6743 - 78771 Luhak Corp	33
6574 - Babylon Express Inc.	31
Chicago Star Taxicab	29
1085 - 72312 N and W Cab Co	29
2809 - 95474 C & D Cab Co Inc.	29
2092 - 61288 Sbeih company	27
3011 - 66308 JBL Cab Inc.	25
3620 - 52292 David K. Cab Corp.	21
4615 - 83503 Tyrone Henderson	21
3623 - 72222 Arrington Enterprises	20
5074 - 54002 Ahzmi Inc	16
2823 - 73307 Lee Express Inc	15
4623 - 27290 Jay Kim	15
3721 - Santamaria Express, Alvaro Santamaria	14
5006 - 39261 Salifu Bawa	14
2192 - 73487 Zeymane Corp	14
6057 - 24657 Richard Addo	13
5997 - 65283 AW Services Inc.	12
Metro Group	11
5062 - 34841 Sam Mestas	8
4053 - 40193 Adwar H. Nikola	7
2733 - 74600 Benny Jona	7
5874 - 73628 Sergey Cab Corp.	5
2241 - 44667 - Felman Corp, Manuel Alonso	3
3556 - 36214 RC Andrews Cab	2
```

Find the number of rides for every taxi company whose name contains the words "Yellow" or "Blue" for November 1-7, 2017. Name the resulting variable trips_amount. Group the results by the company_name field.

```sql

SELECT
    cabs.company_name AS company_name,
    COUNT(trips.trip_id) AS trips_amount
FROM
    trips
    INNER JOIN cabs ON trips.cab_id = cabs.cab_id
WHERE
    trips.start_ts::date BETWEEN '2017-11-1'
    AND '2017-11-7'
    AND (company_name LIKE '%Yellow%' 
         OR company_name LIKE '%Blue%')
GROUP BY
    company_name
ORDER BY
    trips_amount DESC;

```

Output:

``` output

company_name	trips_amount
Yellow Cab	33668
Taxi Affiliation Service Yellow	29213
Blue Ribbon Taxi Association Inc.	17675
Blue Diamond	6764
```

For November 1-7, 2017, the most popular taxi companies were Flash Cab and Taxi Affiliation Services. Find the number of rides for these two companies and name the resulting variable trips_amount. Join the rides for all other companies in the group "Other." Group the data by taxi company names. Name the field with taxi company names company. Sort the result in descending order by trips_amount.

``` sql

SELECT
    CASE
        WHEN company_name = 'Flash Cab' THEN 'Flash Cab'
        WHEN company_name = 'Taxi Affiliation Services' THEN 'Taxi Affiliation Services'
        ELSE 'Other'
    END AS company_category,
    COUNT(trips.trip_id) AS trips_amount
FROM
    trips
    INNER JOIN cabs ON trips.cab_id = cabs.cab_id
WHERE
    trips.start_ts::date BETWEEN '2017-11-1' AND '2017-11-7'
GROUP BY
    CASE
        WHEN company_name = 'Flash Cab' THEN 'Flash Cab'
        WHEN company_name = 'Taxi Affiliation Services' THEN 'Taxi Affiliation Services'
        ELSE 'Other'
    END
ORDER BY
    trips_amount DESC;
```

Output:

```
company_category	trips_amount
Other	335771
Flash Cab	64084
Taxi Affiliation Services	37583
```