# Step 1 - Parse data

Parse data from practicum that will be used.

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from io import StringIO

In [8]:
URL = 'https://practicum-content.s3.us-west-1.amazonaws.com/data-analyst-eng/moved_chicago_weather_2017.html'

req = requests.get(URL)

soup=BeautifulSoup(req.text, 'lxml')

table = soup.find('table',attrs={"id": "weather_records"})

In [14]:
df

           Date and time  Temperature       Description
0    2017-11-01 00:00:00       276.15     broken clouds
1    2017-11-01 01:00:00       275.70  scattered clouds
2    2017-11-01 02:00:00       275.61   overcast clouds
3    2017-11-01 03:00:00       275.35     broken clouds
4    2017-11-01 04:00:00       275.24     broken clouds
..                   ...          ...               ...
692  2017-11-29 20:00:00       281.34        few clouds
693  2017-11-29 21:00:00       281.69      sky is clear
694  2017-11-29 22:00:00       281.07        few clouds
695  2017-11-29 23:00:00       280.06      sky is clear
696  2017-11-30 00:00:00       278.46      sky is clear

[697 rows x 3 columns]

In [13]:
# Assuming 'table' contains the HTML string
html_string = str(table)
df = pd.read_html(StringIO(html_string))[0]

# Save the DataFrame as a CSV file
df.to_csv('data/weather_records.csv', index=False)

print('File saved as weather_records.csv')

File saved as weather_records.csv